@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-white: #fafafa;
  --color-black: #494949;
  --color-glass: #fafafa;
  --color-primary-400: #d96f67;
  --color-primary-500: #b9534b;
  --color-primary-600: #96423b;
  --color-secondary-400: #6a9b71;
  --color-secondary-500: #6a9b71;
  --color-secondary-600: #446649;

  --font-header: "merriweather";
  --font-paragraf: "barlow";

  --breakpoint-xs: 25rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}

@layer utilities {
  .font-paragraf {
    font-family: "Barlow", sans-serif;
  }

  .font-header {
    font-family: "Merriweather", serif;
  }
}
